<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Fluxo de Caixa</title>
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Home</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

        </form>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Para Hoje</div>
                        <a class="nav-link" href="atendimentos-hoje.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Atendimentos
                        </a>
                        <div class="sb-sidenav-menu-heading">Agenda</div>
                        <a class="nav-link" href="consultar-calendario.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Consultar calendario
                        </a>
                        <a class="nav-link" href="servicos.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Serviços
                        </a>
                        <div class="sb-sidenav-menu-heading">Fluxo de caixa</div>
                        <a class="nav-link" href="fluxo-de-caixa.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Consultar Caixa
                        </a>
                        <div class="sb-sidenav-menu-heading">Contatos</div>
                        <a class="nav-link" href="contatos.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Acessar agenda
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Feito por:</div>
                    <strong><a target="_blank" rel="noopener noreferrer"
                            href="https://www.linkedin.com/in/math-ferreira/">Matheus Ferreira</a>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Fluxo de Caixa</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                        <li class="breadcrumb-item active">Fluxo de Caixa</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5><strong><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-10.646.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z"/>
                              </svg> A receita é referente ao dinheiro que entra no caixa de uma empresa,
                                    proveniente
                                    de:</strong></h5>
                    <h6>Dinheiro pago pelos clientes por serviços ou bens fornecidos pela entidade.<br><strong>Importante</strong> Só serão considerados os atendimentos/serviços que estiverem com o status de Pagamento igual a 'PAGO'</h6>

                    <br>
                    <h5><strong><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
                      </svg> Já as saídas de caixa são originárias das seguintes fontes:</strong></h5>
                    <h6>Gastos necessários para manter o negócio funcionando, como folha de pagamento, custo das mercadorias compradas, aluguel, entre outros.<br><strong>Importante</strong> Só serão considerados itens/depesas/produtos que estiverem com o
                        status de Pagamento igual a 'PAGO'</h6>
                    </h6><br>
                </div>
        </div>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Receitas
                                    </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div id="collapseReceitas" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Despesas
                                    </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Saldo Total
                                    </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <p style="color:green;">RECEITA - Saldo total por mês <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-10.646.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z"/>
                          </svg></p>
                        <div class="form-row">
                            <div class="col-md-1 mb-1">
                                <label for="validationDefault04">Mês</label>
                                <select class="form-control form-control-sm" id="mes-lista-de-receitas">
                                                <option th:value=0 th:text="'-'"></option>
                                                <option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}" th:text="${i}" th:selected="${i=='-'}"></option>
                                </select>
                            </div>
                            <div class="col-md-1 mb-1">
                                <label for="validationDefault04">Ano</label>
                                <select class="form-control form-control-sm" id="ano-lista-de-receitas">
                                    <option th:value=0 th:text="'-'"></option>
                                    <option th:each="i : ${#numbers.sequence(2020, 2025)}" th:value="${i}" th:text="${i}" th:selected="${i=='-'}"></option>
                                </select>
                            </div>
                            <div class="col-md-1 mb-1">
                                <button class="btn" id="btn-lista-de-receitas">
                                    <svg width="2em" height="4em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                                      </svg>
                                  </button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="co1-md-1 mb-1" id="resultado-lista-de-receitas">
                                <p id="p-lista-de-receitas">Saldo: </p>
                            </div>

                        </div><br>
                        <p style="color:red;">DESPESA - Saldo total por mês <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
                          </svg></p>
                        <div class="form-row">
                            <div class="col-md-1 mb-1">
                                <label for="validationDefault04">Mês</label>
                                <select class="form-control form-control-sm" id="mes-lista-de-despesas">
                                    <option th:value=0 th:text="'-'"></option>
                                    <option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}" th:text="${i}" th:selected="${i=='-'}"></option>
                                </select>
                            </div>
                            <div class="col-md-1 mb-1">
                                <label for="validationDefault04">Ano</label>
                                <select class="form-control form-control-sm" id="ano-lista-de-despesas">
                                    <option th:value=0 th:text="'-'"></option>
                                    <option th:each="i : ${#numbers.sequence(2020, 2025)}" th:value="${i}" th:text="${i}" th:selected="${i=='-'}"></option>
                                </select>
                            </div>
                            <div class="col-md-1 mb-1">
                                <button class="btn" id="btn-lista-de-despesas">
                                    <svg width="2em" height="4em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                                      </svg>
                                  </button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="co1-md-1 mb-1" id="resultado-lista-de-despesas">
                                <p id="p-lista-de-despesas">Saldo: </p>
                            </div>

                        </div><br>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Projeção
                          </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                        on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
    </footer>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</body>

</html>