<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <title>Fluxo de Caixa</title>
</head>

<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">Home</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

        </form>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">
                            <h6>Para Hoje</h6>
                        </div>
                        <a class="nav-link" th:href="@{/calendario/servicos/hoje}">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div> Para hoje
                        </a>
                        <div class="sb-sidenav-menu-heading">
                            <h6>Agenda</h6>
                        </div>
                        <a class="nav-link" th:href="@{/calendario/servicos}">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-table"></i>
                            </div> Histórico de serviços
                        </a>
                        <div class="sb-sidenav-menu-heading">
                            <h6>Organização</h6>
                        </div>
                        <a class="nav-link">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-chart-area"></i>
                            </div> Fluxo de caixa
                        </a>
                        <a class="nav-link" th:href="@{/organizacao/estoque}">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-chart-area"></i>
                            </div> Itens e despesas
                        </a>
                        <div class="sb-sidenav-menu-heading">
                            <h6>Contatos</h6>
                        </div>
                        <a class="nav-link" th:href="@{/agenda/pessoas}">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-open"></i>
                            </div> Pessoas
                        </a>
                        <a class="nav-link" th:href="@{/agenda/fornecedores}">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-open"></i>
                            </div> Fornecedores
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Feito por:</div>
                    <strong><a target="_blank" rel="noopener noreferrer"
                            href="https://www.linkedin.com/in/math-ferreira/">Matheus Ferreira</a>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Fluxo de Caixa</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
                        <li class="breadcrumb-item active">Fluxo de Caixa</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5><strong><p style="color:darkgreen;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-10.646.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z"/>
                              </svg> A receita é referente ao dinheiro que entra no caixa de uma empresa,
                                    proveniente
                                    de:</strong></h5>
                    </p>
                    <h6>Dinheiro pago pelos clientes por serviços ou bens fornecidos pela entidade.<br><strong>Importante</strong> Só serão considerados os atendimentos/serviços que estiverem com o status de Pagamento igual a 'PAGO'</h6>

                    <br>
                    <h5><strong><p style="color:darkred;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
                      </svg> Já as saídas de caixa são originárias das seguintes fontes:</strong></h5>
                    </p>
                    <h6>Gastos necessários para manter o negócio funcionando, como folha de pagamento, custo das mercadorias compradas, aluguel, entre outros.<br><strong>Importante</strong> Só serão considerados itens/depesas/produtos que estiverem com o
                        status de Pagamento igual a 'PAGO'</h6>
                    </h6><br>
                </div>
        </div>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Lista de Receitas
                                    </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p style="color:darkgreen;">RECEITA - Lista de receitas e saldo total <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
                          </svg></p>
                        <div class="form-row">
                            <div class="col-md-1 mb-1">
                                <label for="validationDefault04">Mês</label>
                                <select class="form-control form-control-sm" id="mes-lista-de-receitas">
                                                <option th:value=0 th:text="'-'"></option>
                                                <option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}" th:text="${i}" th:selected="${i=='-'}"></option>
                                </select>
                            </div>
                            <div class="col-md-1 mb-1">
                                <label for="validationDefault04">Ano</label>
                                <select class="form-control form-control-sm" id="ano-lista-de-receitas">
                                    <option th:value=0 th:text="'-'"></option>
                                    <option th:each="i : ${#numbers.sequence(2020, 2025)}" th:value="${i}" th:text="${i}" th:selected="${i=='-'}"></option>
                                </select>
                            </div>
                            <div class="col-md-1 mb-1">
                                <button class="btn" id="btn-lista-de-receitas">
                                    <svg width="2em" height="4em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                                      </svg>
                                  </button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="table table-striped">
                                <table>
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <h4>Descrição</h4>
                                            </th>
                                            <th scope="col">
                                                <h4>Valor</h4>
                                            </th>
                                            <th scope="col">
                                                <h4>Data</h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="resultado-lista-de-receitas">
                                    </tbody>
                                </table>
                            </div>
                            <div class="co1-md-1 mb-1" id="resultado-saldo-de-receitas">
                                <p id="p-saldo-de-receitas">- Saldo: </p>
                            </div>
                        </div><br>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Lista de Despesas
                                    </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="card-body">
                            <p style="color:darkred;">DESPESA - Lista de despesas e saldo total <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
                              </svg></p>
                            <div class="form-row">
                                <div class="col-md-1 mb-1">
                                    <label for="validationDefault04">Mês</label>
                                    <select class="form-control form-control-sm" id="mes-lista-de-despesas">
                                                    <option th:value=0 th:text="'-'"></option>
                                                    <option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}" th:text="${i}" th:selected="${i=='-'}"></option>
                                    </select>
                                </div>
                                <div class="col-md-1 mb-1">
                                    <label for="validationDefault04">Ano</label>
                                    <select class="form-control form-control-sm" id="ano-lista-de-despesas">
                                        <option th:value=0 th:text="'-'"></option>
                                        <option th:each="i : ${#numbers.sequence(2020, 2025)}" th:value="${i}" th:text="${i}" th:selected="${i=='-'}"></option>
                                    </select>
                                </div>
                                <div class="col-md-1 mb-1">
                                    <button class="btn" id="btn-lista-de-despesas">
                                        <svg width="2em" height="4em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                                          </svg>
                                      </button>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="table table-striped">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    <h4>Descrição</h4>
                                                </th>
                                                <th scope="col">
                                                    <h4>Valor</h4>
                                                </th>
                                                <th scope="col">
                                                    <h4>Data</h4>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="resultado-lista-de-despesas">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="co1-md-1 mb-1" id="resultado-saldo-de-despesas">
                                    <p id="p-saldo-de-despesas">- Saldo: </p>
                                </div>
                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Saldo Total e Projeção
                                    </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <h4>Saldo total até o momento: <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bar-chart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5h-2v12h2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
                          </svg></h4>
                        <div class="co1-md-1 mb-1" id="resultado-saldo-de-despesas">
                            <h6 id="p-total-receita" style="color:darkgreen;"></h6>
                            <h6 id="p-total-despesa" style="color:darkred;"></h6>
                        </div>
                        <br>
                        <h4>Média mensal: <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-graph-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h1v16H0V0zm1 15h15v1H1v-1z"/>
                            <path fill-rule="evenodd" d="M14.39 4.312L10.041 9.75 7 6.707l-3.646 3.647-.708-.708L7 5.293 9.959 8.25l3.65-4.563.781.624z"/>
                            <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4h-3.5a.5.5 0 0 1-.5-.5z"/>
                          </svg></h4>
                        <div class="co1-md-1 mb-1" id="resultado-saldo-de-despesas">
                            <h6 id="p-media-receita" style="color:darkgreen;"></h6>
                            <h6 id="p-media-despesa" style="color:darkred;"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
    </footer>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet">

</body>

</html>