<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Inicio - Arrazus</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand">
            <h4>Home</h4>
        </a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
			<i class="fas fa-bars"></i>
		</button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

        </form>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">
                            <h6>Para Hoje</h6>
                        </div>
                        <a class="nav-link" href="atendimentos-hoje.html">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div> Atendimentos
                        </a>
                        <div class="sb-sidenav-menu-heading">
                            <h6>Agenda</h6>
                        </div>
                        <a class="nav-link" th:href="@{/calendario/servicos}">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-table"></i>
                            </div> Calendario de serviços
                        </a>
                        <div class="sb-sidenav-menu-heading">
                            <h6>Organização</h6>
                        </div>
                        <a class="nav-link" th:href="@{/organizacao/fluxo-caixa}">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-chart-area"></i>
                            </div> Fluxo de caixa
                        </a>
                        <a class="nav-link" th:href="@{/organizacao/estoque}">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-chart-area"></i>
                            </div> Itens e despesas
                        </a>
                        <div class="sb-sidenav-menu-heading">
                            <h6>Contatos</h6>
                        </div>
                        <a class="nav-link" th:href="@{/agenda/pessoas}">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-open"></i>
                            </div> Pessoas
                        </a>
                        <a class="nav-link" th:href="@{/agenda/fornecedores}">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-open"></i>
                            </div> Fornecedores
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Feito por:</div>
                    <strong><a target="_blank" rel="noopener noreferrer"
						href="https://www.linkedin.com/in/math-ferreira/">Matheus
							Ferreira</a>
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<h1 style="text-align: center" class="mt-4">Salão de Beleza -
						Arrazus</h1>
				</div>
				<br>
				<div class="text-center">
					<img src="assets/img/organizacao-index.png" alt="arrazus">
			</main>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="js/scripts.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
		crossorigin="anonymous"></script>
	<script src="assets/demo/chart-area-demo.js"></script>
	<script src="assets/demo/chart-bar-demo.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"
		crossorigin="anonymous"></script>
	<script src="assets/demo/datatables-demo.js"></script>
</body>

</html>