<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Contatos</title>
<link href="css/styles.css" rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
	crossorigin="anonymous"></script>
</head>

<body>
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<a class="navbar-brand" href="index.html">Home</a>
		<button class="btn btn-link btn-sm order-1 order-lg-0"
			id="sidebarToggle" href="#">
			<i class="fas fa-bars"></i>
		</button>
		<!-- Navbar Search-->
		<form
			class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

		</form>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading">Para Hoje</div>
						<a class="nav-link" href="atendimentos-hoje.html">
							<div class="sb-nav-link-icon">
								<i class="fas fa-tachometer-alt"></i>
							</div> Atendimentos
						</a>
						<div class="sb-sidenav-menu-heading">Agenda</div>
						<a class="nav-link" href="consultar-calendario.html">
							<div class="sb-nav-link-icon">
								<i class="fas fa-table"></i>
							</div> Consultar calendario
						</a> <a class="nav-link" href="servicos.html">
							<div class="sb-nav-link-icon">
								<i class="fas fa-table"></i>
							</div> Serviços
						</a>
						<div class="sb-sidenav-menu-heading">Fluxo de caixa</div>
						<a class="nav-link" href="fluxo-de-caixa.html">
							<div class="sb-nav-link-icon">
								<i class="fas fa-chart-area"></i>
							</div> Consultar Caixa
						</a>
						<div class="sb-sidenav-menu-heading">Contatos</div>
						<a class="nav-link" href="contatos.html">
							<div class="sb-nav-link-icon">
								<i class="fas fa-book-open"></i>
							</div> Acessar agenda
						</a>
					</div>
				</div>
				<div class="sb-sidenav-footer">
					<div class="small">Feito por:</div>
					<strong><a target="_blank" rel="noopener noreferrer"
						href="https://www.linkedin.com/in/math-ferreira/">Matheus
							Ferreira</a>
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<h1 class="mt-4">Agenda</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
						<li class="breadcrumb-item active">Acessar agenda</li>
					</ol>
				</div>
				<div class="card-body">
					<h4>
						Pessoas salvas na agenda de contatos <br>
						<br>
						<strong>Opçoes:</strong>
					</h4>
					<br>
					<p>
						<button type="button" class="btn btn-outline-primary" id="btn-adicionar">Adicionar
							nova pessoa</button>
					</p>
					<p>
						<button type="button" class="btn btn-outline-secondary" id="btn-alterar-remover">Alterar ou remover
							dados de uma pessoa</button>
					</p>
				</div>
			</main>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="js/scripts.js"></script>
</body>

</html>